* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}

.navbar {
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.navbar--primary {
    background-color: #3D4750;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    color: #fff;
}

.navbar__list {
    display: flex;
    list-style-type: none;
    margin-right: 200px;
    cursor: pointer;
}

.navbar--primary h3 {
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
}

.navbar__item {
    margin-left: 25px;
    list-style-type: none;
    cursor: pointer;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    padding: 0px 90px;
    display: flex;
    font-family: "Poppins", sans-serif;

}

.header__logo {
    margin-top: 20px;
    cursor: pointer;
}

.header__search {
    margin-left: 150px;
    position: relative;
    margin-top: 20px;
}

.search-icon {
    position: absolute;
    right: 25px;
    top: 20px;
    color: #555555;
    cursor: pointer;
}

.search-box {
    border-radius: 10px;
    padding: 20px 200px;
    border: none;
    outline: none;
    border: 1px solid #EEEEEE;
    position: relative;
}

.search__left {
    position: absolute;
    margin-top: -55px;
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
    border-right: 1px solid #EEEEEE;
    height: 55px;
    font-size: 16px;
    color: #777777;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search__left h5 {
    margin-right: 5px;
    font-weight: 100;
    padding: 0px 30px;
}

.header__right {
    width: 400px;
    height: 50px;
    margin-top: 20px;
    margin-left: 100px;
}

.header-right-item {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #6D7FD8;
}

.header-right-item svg {
    width: 40px;
    height: 40px;
    gap: 30px;
    margin-right: 10px;
}

.header-right-item-text {
    margin-right: 10px;
}

.header-right-item-text h5 {
    color: #3D4750;
    font-weight: 100;
}

.header-right-item-text h4 {
    color: #3D4750;
    font-weight: 600;
}

.sub-navbar {
    width: 100%;
    border: 1px solid #EEEEEE;
    height: 70px;
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}

.sub-navbar-left {
    display: flex;
    margin-top: 25px;
    margin-left: 100px;
}

.sub-navbar-bottom {
    display: flex;
    color: #3D4750;
}

.sub-navbar-menu-icon {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    padding: 5px;
    fill: #6D7FD8;
    cursor: pointer;
}

.nav-circle {
    font-size: 5px;

}

.sub-navbar-offers-svg {
    display: flex;

}

.sub-navbar-offers-svg svg {
    width: 20px;
    height: 20px;
    fill: #6D7FD8;
    margin-right: 5px;
}

.sub-navbar-bottom .navbar__item {
    transition: all 0.3s ease;
}

.sub-navbar-bottom .navbar__item:hover {
    color: #6D7FD8;
}

.sub-navbar__location-button {
    width: 200px;
    height: 50px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.sub-navbar__location-button {
    fill: #6D7FD8;

}

.location-svg {
    margin-right: 10px;
    cursor: default;
}

.location-svg svg {
    fill: #6D7FD8;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-navbar__location-button span {
    color: #777777;
    margin-left: 5px;
    font-size: 15px;

}

.sub-navbar__location-button span i {
    margin-left: 90px;
}

.hero__section {
    background-color: #F8F8FB;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__section--left {
    color: #777777;
    font-family: "Poppins", sans-serif;
    margin-left: -600px;
    padding: 200px;
    width: fit-content;
    margin-top: 200px;
}

.hero__section--left p {
    width: fit-content;

}

.hero__section--left--title {
    color: #3D4750;
    width: fit-content;
    font-size: 50px;
    width: 400px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;

}

.hero__section--left--title span {
    color: #6D7FD8;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
}

.hero__section--shop--button {
    border-radius: 10px;
    border: 1px solid #3D4750;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #3D4750;
    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 15px;

}

.hero__section--shop--button:hover {
    background-color: #6D7FD8;
    color: #fff;
    border-color: #6D7FD8;
}

.hero__section--right {
    display: flex;
    width: 10%;
}

/* .hero__section--right img {} */
.hero__section--fixed-icon {
    position: relative;
    display: flex;
    align-items: center;

}

.hero__section--fixed--settings--icon {
    width: 40px;
    height: 40px;
    background-color: #3D4750;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #fff;
    margin-left: 50px;
    margin-top: -450px;
}

.hero__section--right--scroll--page {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    margin-left: 50px;
}

.hero__section--right--scroll--page p {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #686E7D;

}

/* .hero__section--right--scroll--page--line{

} */
.hero__section--right--scroll--page--vertical--line {
    width: 1px;
    height: 100px;
    background-color: #000000;
    position: absolute;
    margin-top: -210px;
    margin-left: -15px;
}

.hero__section--left--bottom {
    position: relative;
    margin-top: 100px;
    margin-left: -120px;

}

.hero__section--left--bottom--ul {
    writing-mode: vertical-rl;
    transform: rotate(-90deg);
    display: inline-block;
}

.hero__section--left--bottom--ul ul {
    list-style-type: none;
    position: absolute;
}

.hero__section--left--bottom--ul ul li {
    transform: rotate(270deg);
    margin-left: 5px;
    font-size: 17px;
    cursor: pointer;
}

.hero__section--left--bottom--skew {
    display: flex;
    margin-top: 100px;
    margin-left: -50px;
}

.hero__section--left--bottom--horizontal--skew {
    margin-left: 3px;
    width: 20px;
    height: 20px;
    background-color: #4B5966;
    transform: skewX(-15deg);
    border-radius: 1px;
    display: flex;
    cursor: pointer;
}

.hero__section--left--bottom--horizontal--skew:nth-child(1) {
    width: 30px;
    height: 20px;
    background-color: #6D7FD8;
}

.categories__section {
    display: flex;
    padding: 0px 50px;
    margin-bottom: 100px;
}

.categories__section--left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;


}

/* .categories__section--left--img {
    /* position: relative;
    overflow: hidden;  

} */
.categories__section--left--img img {
    width: 530px;
    height: 530px;
    border-radius: 50px;
    object-fit: cover;
    clip-path: path('M1 303.5V28L2.5 19.5L5.5 14L9.5 9.5L16 4.5L23 2L29.5 1H499.5L505.5 2.5L512.5 6L518 10L521.5 15L524.5 20L526.5 24V32V120V225V306.5L525 309.5L521.5 316L516.5 321.5L510 326L504.5 328.5H425.5L421.5 330L415.5 332.5L410.5 336L405 342.5L401.5 348.5L400.5 354.5V505L397.5 511.5L392 518.5L384.5 524L379.5 526.5H371.5H164H25.5L19 524.5L10.5 519.5L4 512L1 501V303.5Z');
}

.categories__section--left--img--badge {
    background-color: rgba(0, 0, 0, 0.8);
    width: 90px;
    height: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    border-radius: 30px;
    margin-top: -510px;
    margin-left: 410px;
    position: absolute;

}

.categories__section--left--img--badge h5 {
    font-weight: 300;

}

.categories__section--right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}

.categories__section--right--outline--text {
    color: transparent;
    -webkit-text-stroke: 1px #DCDDDE;
    font-size: 70px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 200px;
    padding: 0px 50px;

}

.categories__section--right--outline--text h1 {
    margin-top: -30px;
    /* background-color: transparent; */
}

.categories__section--right--horizontal--scroller {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -750px;
    width: 800px;
    margin-bottom: 30px;
}

.categories--horizontal--scroller {
    margin-left: 20px;
    border-radius: 20px;
}

/* .categories--horizontal--scroller h2 {

font-family: "Poppins", sans-serif;
font-size: 15px;
font-weight: 300;
color: #3D4750;
margin-left: 40px;
margin-top: 10px;
}
.categories--horizontal--scroller h4{
    color: #686E7D;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-left: 50px;
} */
.categories--horizontal--scroller img {
    width: 50px;
    height: 50px;
}

.categories--horizontal--scroller--img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.categories--horizontal--scroller--text {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.categories--horizontal--scroller--text h2 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #3D4750;
    margin-left: 30px;
}

.categories--horizontal--scroller--text h2:nth-child(1) {
    margin-left: 50px;
}

.categories--horizontal--scroller--text h4 {
    color: #686E7D;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-left: 40px;
    font-size: 13px;
}

.categories--horizontal--scroller--text h4:nth-child(2) {
    margin-left: 60px;
}

.categories--horizontal--scroller:nth-child(1) {
    background-color: #FEF1F1;
    width: 300px;
    height: 150px;
}


.categories--horizontal--scroller:nth-child(2) {
    background-color: #E1FCF2;
    width: 300px;
    height: 150px;
}

.categories--horizontal--scroller:nth-child(3) {
    background-color: #F3F1FE;
    width: 300px;
    height: 150px;
}

.categories--horizontal--scroller:nth-child(4) {
    background-color: #FBF9E4;
    width: 300px;
    height: 150px;
}

.featured__section {
    /* display: flex;
align-items: first baseline;
justify-content: space-evenly; */
    height: 500px;
}

.featured__section--title {
    width: 350px;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

.featured__section--title p {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #686E7D;
}

.featured__section--title span {
    color: #6D7FD8;
}

.featured__section--top {
    display: flex;
    margin-left: 70px;
}

.featured__section--timer {
    border: 1px solid #EEEEEE;
    background-color: #F8F8FB;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    margin-left: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured__section--timer p {
    color: #3D4750;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.featured__section--timer span {
    color: #3D464F;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.featured__section--cards--container {
    margin: 30px 50px;
    display: flex;
    gap: 20px;
}

.featured__section--cards {
    width: 300px;
    height: 400px;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
}

.featured__section--cards--image {
    display: flex;
}

.featured__section--cards--image img {
    width: 90%;
    /* height: 100%; */
    border-radius: 20px;
    cursor: pointer;
}

.featured__section--cards--badge {
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #777777;
    font-family: "Poppins", sans-serif;
    margin: 10px 2px;
    font-weight: 500;
    position: absolute;
}

.featured__section--cards--underline {
    width: 299px;
    border: 1px solid #EEEEEE;
    transform: scaleY(0.5);
    position: absolute;
    margin-top: 260px;
}

.featured__section--cards--product--info--container {
    margin: 10px 20px;
}

.featured__section--cards--product--info {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 14px;
}

.featured__section--cards--product--info--first-part {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.featured__section--cards--product--info--star--icons {
    color: #FEA99A;
}

.featured__section--cards--product--info--star--icons i:last-child {
    color: #777777;
}

.featured__section--cards--product--info--title {
    margin: 6px 0px;

}

.featured__section--cards--product--info--title h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #3D4750;
}

.featured__section--cards--product--info--last--part--container {
    display: flex;
    margin-top: 15px;
}

.featured__section--cards--product--info--last--left--part {
    display: flex;
    gap: 10px;

}

.featured__section--cards--product--info--last--left--part h4 {
    font-weight: 300;
    text-decoration: line-through;
}

.featured__section--cards--product--info--last--left--part p {
    color: #6D7FD8;
}

.featured__section--cards--product--info--last--right--part {
    display: flex;
    margin-left: 140px;
}

/* START delicious__food__horizontal__card__section */
.delicious__food__horizontal__card__section {
    display: flex;
    align-items: center;
    margin: 50px 120px;
    gap: 50px;

}

.delicious__food__horizontal__card__section--left--cards {
    width: 550px;
    height: 300px;
    background-color: #F8F8FB;
    border-radius: 20px;
    display: flex;
}

.delicious__food__horizontal__card__section--right--cards {
    width: 550px;
    height: 300px;
    background-color: #F8F8FB;
    border-radius: 20px;
    display: flex;
}
.delicious__food__horizontal__card__section--cards--image {
    /* margin: 30px 50px; */
    margin-left: 10px;
    display: flex;
    width: 50%;
}
.delicious__food__horizontal__card__section--cards--image img{
    width: 260px;
    height: 260px;
   display: flex;
margin-top: 25px;

   
}
.delicious__food__horizontal__card__section--left--cards--contents{
   width: 50%;
   display: flex;
   justify-content: center;
}
.delicious__food__horizontal__card__section--left--cards--contents h1{
 display: flex;
 font-family: 'Quicksand', sans-serif;
 color: #3D4750;
}
.delicious__food__horizontal__card__section--right--cards--contents{
    /* width: 100px; */
    display: flex;
    justify-content: center;
}
.delicious__food__horizontal__card__section--right--cards--contents h1{
 display: flex;
 font-family: 'Quicksand', sans-serif;
 color: #6D7FD8;
}